{% load static %}
<footer class="footer_area">
  <style>
    .footer_area {
      background-color: #789DBC; 
      padding: 50px 0;
      color: white;
      text-align: center; /* Center align all footer content */
    }

    .footer_logo a {
      color: white;
      font-size: 1.5em;
      font-weight: bold;
      text-decoration: none;
    }

    .footer_social a {
      color: white;
      margin-right: 15px;
      font-size: 1.5em;
      transition: color 0.3s;
    }

    .footer_social a:hover {
      color: #C9E9D2; 
    }

    .footer_text {
      font-size: 0.9em;
      color: #bbb;
      text-align: center; /* Center footer text */
    }

    .footer_social img {
      width: 30px;
      height: 30px;
      margin: 0 10px; /* Space between icons */
    }

    /* Footer nav links */
    .footer_top .menu_nav .nav-link {
      color: white;
      transition: color 0.3s;
    }

    .footer_top .menu_nav .nav-link:hover {
      color: #1da1f2; /* Link hover color */
    }

    @media (max-width: 768px) {
      .footer_social {
        text-align: center;
        margin-top: 20px;
      }

      .footer_text {
        font-size: 0.8em;
      }
    }
  </style>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="footer_top flex-column">
          <div class="footer_logo">
            <a href="{% url 'home' %}">
              <!-- Add your logo here if needed -->
            </a>
          </div>
          <div class="footer_social mt-lg-0 mt-4">
            <a href="https://twitter.com/Eyeroll23" target="_blank">
              <img src="{% static 'img/twitter.png' %}" alt="Twitter">
            </a>
            <a href="https://www.instagram.com/prasiddhii.dahal/" target="_blank">
              <img src="{% static 'img/instagram.png' %}" alt="Instagram">
            </a>
            <a href="https://www.linkedin.com/in/prasiddhi-dahal-1a19a3218/" target="_blank">
              <img src="{% static 'img/linkedin.png' %}" alt="LinkedIn">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row footer_bottom justify-content-center">
      <p class="col-lg-8 col-sm-12 footer-text">Made <i class="fas fa-heart"></i> by Prasiddhi Dahal</p>
    </div>
  </div>
</footer>
